* {
margin:0;
padding:0;
}

body {
    font-family: 'Merriweather',serif;
    background-color:#f9fafc ;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width:auto;
    height: 100px;
}

.nvbar_brandlogo{
    width:70px;
}

.navbar_logo{
    width: 50%;    
}

.navbar_items{
    background-image: linear-gradient(
        to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
        padding: 5%;
        border-radius: 6px;
}
.nav_btn{
   border: none;
   background-color:transparent;
   color:white;
   
}

.navbar_items:hover{
    border:5px lightcoral;
    cursor:pointer;
}

@media (min-width:768px) {
    .navbar{
        justify-content: space-between;
        padding: 10px;
    }
}

@media (min-width:1028px){
    .nvbar_brandlogo{
        width: 100px;
    }
    .navbar_items{
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
    }
}

